{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "plugins": [
        "@typescript-eslint"
    ],
    "rules": {
        "@typescript-eslint/naming-convention": [
            "warn",
            {
                "selector": "import",
                "format": [ "camelCase", "PascalCase" ]
            }
        ],
        "@typescript-eslint/semi": "warn",
        "curly": "warn",
        "eqeqeq": "warn",
        "no-throw-literal": "warn",
        "no-unused-vars": "warn",
        "no-mixed-spaces-and-tabs": "warn",
        "no-trailing-spaces": "warn",
        "no-multi-spaces": "warn",
        "no-multiple-empty-lines": "warn",
        "no-irregular-whitespace": "warn",
        "no-unexpected-multiline": "warn",
        "no-duplicate-case": "warn",
        "no-unreachable": "warn",
        "camelcase": "warn"
    },
    "ignorePatterns": [
        "out",
        "dist",
        "**/*.d.ts"
    ]
}